azure_region        = "westeurope"
resource_group_name = "infra-staging-rg"
cluster_name        = "infra-staging-aks"
kubernetes_version  = "1.29"

vnet_cidr       = "10.30.0.0/16"
aks_subnet_cidr = "10.30.1.0/24"

node_vm_size       = "Standard_D2s_v3"
node_desired_count = 2
node_min_count     = 2
node_max_count     = 4

gitops_repo_url        = "https://github.com/panagiod/infra"
gitops_target_revision = "main"
