aws_region = "us-east-1"
cluster_name = "infra-prod"
kubernetes_version = "1.29"

gitops_repo_url = "https://github.com/panagiod/infra"
gitops_target_revision = "main"

single_nat_gateway = false
node_instance_types = ["m6i.large"]
node_desired_size = 3
node_min_size = 3
node_max_size = 6

# Restrict in real deployments, e.g. ["203.0.113.0/24"]
cluster_endpoint_public_access_cidrs = ["0.0.0.0/0"]
